.delivery-container {
    background-color: #f6f6f6;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-size: cover;
    background-position: center;
  }
  
  .content-section {
    padding-left: 5rem;
  }
  
  .content-section h1 {
    color: #007bff;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .content-section p {
    color: #6c757d;
    font-size: 1.25rem;
  }
  
  .form-container {
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    width: 350px;
    margin-right: 2rem;
  }
  
  .form-container h3 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 1.5rem;
  }
  
  .google-play-img {
    width: 150px;
  }
  